<!DOCTYPE html>
<html>

<head>
    <title>User List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>User List</h1>
    <table>
        <tr>
            <th>User</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <% for (let i = 0; i < userlist.length; i++) { %>
          <tr>
            <td><a href="mailto:<%= userlist[i].email %>"><%= userlist[i].username %></a></td>
            <td><a href="/edituser/<%= userlist[i]._id %>">Edit</a></td>
            <td><a href="#">Delete</a></td>
          </tr>
        <% } %>
    </table>
</body>

</html>